/*** Company ***/
.companyGrid {
  grid-template-areas: "leftAir left right rightAir";
  grid-template-columns: 5% auto auto 5%;
}
/******************************/

/*** Owner ***/
.ownerTop {
  grid-template-areas: "leftAir left right rightAir";
  grid-template-columns: 5% auto auto 5%;
}

.ownerBottom {
  grid-template-areas: "leftAir left right rightAir";
  grid-template-columns: 5% auto auto 5%;
}
/******************************/
