/*** Global ***/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  height: 100%;
}


.main {
  max-width: 1000px; /*1200px*/
  margin: 0px auto;
  background-color: #ced0ce;
}

img {
  width: 100%;
}

.logo {
  max-width: 95%;
}

.sticky {
  position: fixed;
  top: 0;
  max-width: 998px; /*1198px*/
  z-index: 5;
}

.header {
  display: table;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: #ffffff;
  color: #24531d;
}

#header-left {
  display: table-cell;
  width: 20%;
  padding-left: 1%;
  vertical-align: middle;
}

#header-center {
  display: table-cell;
  width: 60%;
  text-align: center;
  vertical-align:  middle;
}

#header-right {
  display: table-cell;
  width: 20%;
  text-align: right;
  padding-right: 1%;
  vertical-align: middle;
}

footer>div {
  background-color: #90a88c;
  color: #24531d;
}

/******************************/

/*** Grid ***/
.grid {
  display: grid;
}

.col1 {
  grid-template-columns: 100%;
}


.col2 {
  grid-template-columns: 50% 50%;
}

.col3 {
  grid-template-columns: 33.3% 33.4% 33.3%;
}

.col3Fixed1 {
  grid-template-columns: 10% 80% 10%;
}

.col4 {
  grid-template-columns: 25% 25% 25% 25%;
}

.grid>div>h3 {
  padding: 10px;
}

.grid>div>p {
  padding: 10px;
}
  
img.icon {
  max-width: 70%;
}

@media screen and (max-width: 792px) {
  .main {
    max-width: 790px;
  }
  .col2 {
    grid-template-columns: 100%;
  }
  
  .col3 {
    grid-template-columns: 100%;
  }

  .col3Fixed1 {
    grid-template-columns: 20% auto 20%;
  }

  .col4 {
    grid-template-columns: 50% 50%;
  }

  img.icon {
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .main {
    max-width: 598px;
  }

  .col4 {
    grid-template-columns: 100%;
  }
  
  img.icon {
    max-width: 40%;
  }

}

.grid>div {
  text-align: center;
  vertical-align: middle;
  padding: 5px 5px;
  /* font-size: 20px; */
}

.verticalSpacer {
  display: block;
  height: 45px;
}

/******************************/

/*** Text ***/
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-top: 5px;
}

h2 {
  font-family: "Montserrat", sans-serif;

  font-weight: 600;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 19px;
}

.indent1 {
  padding:5px 30px;
}
/******************************/

/******************************/

/*** Main ***/

/******************************/

/***  ***/
/******************************/

/*** Footer ***/

/******************************/

/*** SoMe ***/
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #55acee;
  color: white;
}